
{% extends 'base.html' %}

{% block head %}
<title>Create a Task</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{{ super() }}
{% block pagetitle %} Create Task {% endblock %}

{% block body %}

{% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert-{{category}}">{{ message }}</div>
{% endfor %}

<ul>
  {% for field in errors %}
    {% for message in field.messages %}
      <li>{{ message }}</li>
    {% endfor %}
  {% endfor %}
</ul>

<!-- Project / Job / Assignee / Description / Progress / Date -->
<div class="testbox">
  <form action="" method="POST" id="create-task-form">
    <h1>Create a new Task</h1>
    <h4>Project<span>*</span></h4>
      <input type="text" class="text-form" name="task-project">
    <h4>Job<span>*</span></h4>
      <input type="text" class="text-form" name="task-job">
    <h4>Assignee<span>*</span></h4>
      <input type="text" class="text-form" name="task-assignee">
    <h4>Description</h4>
    <p class="small">Provide a more detailed description of the task.</small>
      <textarea rows="10" class="text-area"></textarea>
    <div class="btn-block">
      <button type="submit">Add Task</button>
    </div>
  </form>
</div>

{% endblock %}