
{% extends 'base.html' %}

{% block head %}
<title>Tasks</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{{ super() }}
{% block pagetitle %} Create room {% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <h3>{{ message }}</h3>
    {% endfor %}
  {% endif %}
{% endwith %}

<ul>
  {% for field in errors %}
    {% for message in field.messages %}
      <li>{{ message }}</li>
    {% endfor %}
  {% endfor %}
</ul>

<div class="room-selector-container">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.room_key }}
        {{ form.room_name }}
        {{ form.password }}
        {{ form.confirm_pass }}
        {{ form.submit }}
    </form>
</div>

{% endblock %}