
{% extends 'base.html' %}

{% block head %}
<title>Create a Task</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{{ super() }}
{% block pagetitle %} Create Task {% endblock %}

{% block body %}

{% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert-{{category}}">{{ message }}</div>
{% endfor %}

<ul>
  {% for field in errors %}
    {% for message in field.messages %}
      <li>{{ message }}</li>
    {% endfor %}
  {% endfor %}
</ul>

<!-- Project / Job / Assignee / Description / Progress / Date -->
<div class="testbox">
  <form method="POST" action="" id="create-task-form">
    {{ form.csrf_token }}
    <h1>Create a new Task</h1>
    <h4>Project<span>*</span></h4>
      {{ form.project(class_ = 'text-form')}}
    <h4>Job<span>*</span></h4>
      {{ form.job(class_ = 'text-form')}}
    <h4>Assignee<span>*</span></h4>
      {{ form.assignee(class_ = 'text-form')}}
    <h4>Progress<span>*</span></h4>
      {{ form.progress(class_ = 'text-form')}}
    <h4>Description</h4>
    <p class="small">Provide a more detailed description of the task.</small>
      {{ form.description(class_ = 'text-area')}}
    <div class="btn-block">
      {{ form.submit }}
    </div>
  </form>
</div>

{% endblock %}