{% extends 'base.html' %}

{% block head %}

<title>Tasks</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

{% endblock %}

{{ super() }}
{% block pagetitle %} Login Page {% endblock %}

{% block body %}

<h1>Login Page</h1>

{% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert-{{category}}">{{ message }}</div>
{% endfor %}

<div class="login-form-container">
  <form method="POST" action="">
      {{ form.hidden_tag() }}
      {{ form.username }}
      {{ form.password }}
      {{ form.submit }}
  </form>
</div>

<div class="login-footer">
  <a href="{{ url_for('register') }}">Don't have an account? Sign Up</a>
</div>

{% endblock %}