{% extends 'base.html' %}

{% block head %}

<title>Tasks</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

{% endblock %}

{{ super() }}
{% block pagetitle %} User Registration {% endblock %}

{% block body %}

<h1>Register User Profile</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <h1>{{ message }}</h1>
    {% endfor %}
  {% endif %}
{% endwith %}

<form method="POST" action="">
    {{ form.hidden_tag() }}
    {{ form.username }}
    {{ form.password }}
    {{ form.confirm_pass }}
    {{ form.submit }}
</form>

<a href="{{ url_for('login') }}">Already have an account? Login in</a>

{% endblock %}