
{% extends 'base.html' %}

{% block head %}
<title>{{ roomname }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{{ super() }}
{% block pagetitle %} <i>{{roomname}}</i> {% endblock %}

{% block body %}

<div class="content">
  <h1 style="text-align: center;">Tasks</h1>

  {% if tasks|length < 1%}  <!-- If the room contains no tasks -->
    <h4 style="text-align: center;">There are no tasks. Create one below!</h4>
  {% else %}

  <ul>
    {% for field in errors %}
      {% for message in field.messages %}
        <li>{{ message }}</li>
      {% endfor %}
    {% endfor %}
  </ul>

  {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert-{{category}}">{{ message }}</div>
  {% endfor %}

  <div class="accordion">
    <h1>{{ roomname }}</h1>
    <hr>

    {% for task in tasks %}

    <div class="container">
      <div class="label">{{task.project}}</div>
      <div class="job">{{task.job}}</div>  
      <div class="content">{{task.description}}</div>
    <div class="assignee">{{task.assignee}}</div>
    <div class="date">{{task.date}}</div>
    </div>
    <hr>

    {% endfor %}

  </div>

  {% endif %}

  <h1>{{ roomname }}</h1>

  <form action="" method="POST">
    <button type="submit" class="btn btn-default">Add Task</button>
  </form>
</div>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}