{% extends 'base.html'%}

{% block head %}
<title>Update Task</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{{ super() }}
{% block pagetitle %} Update Task {% endblock %}

{% block body %}
<div class="content">
  <h1 style="text-align: center;">Update Master</h1>

  {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert-{{category}}">{{ message }}</div>
  {% endfor %}

  <form action="/update/{{task.key}}" method="POST">
    <input type="text" name="project" class="content-update" id="content-update" value="{{task.project}}">
    <input type="text" name="job" class="content-update" id="content-update" value="{{task.job}}">
    <input type="text" name="assignee" class="content-update" id="content-update" value="{{task.assignee}}">
    <input type="text" name="progress" class="content-update" id="content-update" value="{{task.progress}}">
    <input type="submit" value="Update">
  </form>
</div>
{% endblock %}