{% extends 'base.html'%}

{% block head %}
<title>Update Task</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block navbar %}
<div class="nav-bar-userprofile">
    <ul class="nav-user-ul">
        <li class="nav-user-li">
          <a href="{{url_for('index')}}">Home</a>
        </li>
        <li class="nav-user-li">
          <a href="{{url_for('create_room')}}">Create Room</a>
        </li>

        <div class="page-title-nav">
          <li class="nav-user-li">
            <p style="margin-block-start: 0;">Update Task</p>
          </li>
        </div>
  
        <div class="nav-right">
      
          <li class="nav-user-li">
            <a href="{{url_for('login')}}">Login</a>
          </li>
            
          <li class="nav-user-li">
            <a href="{{url_for('logout')}}">Logout</a>
          </li>
  
        </div>
    </ul>
  </div>
{% endblock %}

{% block body %}
<div class="content">
  <h1 style="text-align: center;">Update Master</h1>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <h1>{{ message }}</h1>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form action="/update/{{task.key}}" method="POST">
    <input type="text" name="project" class="content-update" id="content-update" value="{{task.project}}">
    <input type="text" name="job" class="content-update" id="content-update" value="{{task.job}}">
    <input type="text" name="assignee" class="content-update" id="content-update" value="{{task.assignee}}">
    <input type="text" name="progress" class="content-update" id="content-update" value="{{task.progress}}">
    <input type="submit" value="Update">
  </form>
</div>
{% endblock %}